<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Vite + React App</title>
        {% load static %} <!-- <Загрузка статики> -->
        <!-- <Название css файла в папке static> -->
        <link rel="stylesheet" href="/static/dist/assets/index-5r73d6Iz.css"> 
    </head>
    <body>
        <div id="root"></div>
        <!-- <Название js файла в папке static> -->
        <script src="/static/dist/assets/index-awKqec1k.js"></script>
    </body>
</html>